@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Zen+Dots&display=swap');

:root{
    --lightgrey: #e3e3e3;
    --darkgrey: #303030;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Zen Dots', cursive;
    width: 100%;
    text-align: center;
}

h1{
    background-color:var(--darkgrey);
    padding: 80px 0;
    color: #fff;
}

form{
    margin: 30px auto;
    width: 100%;
}

input[type='text']{
    width: 300px;
    height: 20px;
    padding: 10px 20px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #000;
}

button{
    padding: 10px 20px;
    width: 100px;
    height: 40px;
    border: none;
    margin: 20px 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.submit{
    background-color: var(--darkgrey);
    color: #fff;
}

.reset{
    background-color: var(--lightgrey);
}